.animated-word {
  margin-right: 0.4em;
  display: inline-block;
  overflow: hidden;
}

.animated-letter {
  transform: translate3d(0, 2em, 0);
  display: inline-block;
}

.animated-text--active {
  .animated-letter {
    transform: translate3d(0, 0, 0);
  }
}
